<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Code_128_Barcode_Generator_v2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Code_128_Barcode_Generator_v2.My.MySettings>
            <setting name="point_size" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="instant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dark_theme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="barcode_height" serializeAs="String">
                <value>110</value>
            </setting>
        </Code_128_Barcode_Generator_v2.My.MySettings>
    </userSettings>
</configuration>